<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/demo.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
	<meta charset="UTF-8">
	<title>Sugar Glider</title>
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
	<h1>Sugar Glider</h1>
	<br>
	<p><img src="/static/sugar_glider.jpg" alt="Avatar"></img></p>
	<br>
	<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
		<div class="card-header">Headers</div>
		<div class="card-body">
		<h4 class="card-title">All Request Headers</h4>
		<p class="card-text" id="dump"></p>
		</div>
	</div>
	<br>
	<form METHOD="POST" ACTION="/api/v1/user/logout" enctype="multipart/form-data">
		<div class="form">
			<button type="submit" class="btn btn-primary byn-sm" style="float:left">Logout</button>
		</div>
	</form>
<script>
var req = new XMLHttpRequest();
req.open('GET', document.location, false);
req.send(null);
var headers = req.getAllResponseHeaders().toLowerCase();
var aHeaders = headers.replaceAll('\n','<br>');
document.getElementById("dump").innerHTML = aHeaders;
</script>
</body>
</html>
