<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/demo.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
{{ if .success }}
    <div class="alert alert-success" role="alert">
        {{ .success }}
    </div>
{{ end }}
{{if .error}}
    <div class="alert alert-danger" role="alert">
        {{ .error }}
    </div>
{{end}}
<div class="container register-form">
    <form METHOD="POST" ACTION="/api/v1/user/sign-up" id="sign-up" enctype="multipart/form-data">
        <div class="form">
            <div class="note">
                <p>Sign Up Page</p>
            </div>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" id="username" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mail" id="mail" name="mail" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Address" id="address" name="address" value=""/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">Register</button>
            </div>
        </div>
    </form>
</div>
<script>
var form = document.getElementById('sign-up');
form.onsubmit = function(event){
    var xhr = new XMLHttpRequest();
    var formData = new FormData(form);
    //open the request
    xhr.open('POST','/api/v1/user/sign-up')
    xhr.setRequestHeader("Content-Type", "application/json");

    //send the form data
    xhr.send(JSON.stringify(Object.fromEntries(formData)));

    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            form.reset(); //reset form after AJAX success or do something else
            window.location.href = 'login'
        }
    }
    //Fail the onsubmit to avoid page refresh.
    return false;
}
</script>

</body>
</html>
